<%- include('./partials/header.ejs')%>
    <h1 class="header">BMW fan?</h1>
    <div class=bmwCars>
        <img alt ="nothing" class ="inline" src="images/i8.webp" height="130" width="130">
        <img alt ="nothing" class ="inline" src="images/oldBeam.jfif" height="130" width="130">
        <img alt ="nothing" class ="inline" src="images/8series.jfif" height="130" width="130">
    </div>
    <h2 class="description">Connect with Beamer fans and attend Drag races, Car shows, or other events!</h2>
    <h2 class="desc">Go to Connections to find events!</h2>
    <h2 class="description1">You can even create a new event to be posted on Connections!</h2>
    <div class=bmwCars>
        <img alt ="nothing" class ="inline" src="images/oldCarShow.jfif" height="130" width="130">
        <img alt ="nothing" class ="inline" src="images/carShow.jfif" height="130" width="130">
        <img alt ="nothing" class ="inline" src="images/dragRace.jpg" height="130" width="130">
    </div>
    
    <div class ="theFooter">
    <footer>
        &copy; Beamer Fans,<br> The Best in the Biz
    </footer>
    
</div>