<%- include('./partials/header.ejs')%>
<h3 class ="header"><%=error.status%> Error</h3>
<p class = "newDescription"><%=error.message%></p>
<div class ="theFooter2">
    <footer>
        &copy; Beamer Fans,<br> The Best in the Biz
    </footer>
    
</div>