<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/projectCSS.css">
    <title>Connection</title>
</head>

<body>
    <div class="nav">
        <div class="logoImages">
        <img alt="nothing" class="logo" src="/images/bmwFansLogo.png" height="80">
            <img alt="nothing" class="bmwLogo" src="/images/m5CS.jpg" height="80">
            <img alt="nothing" class="bmwLogo1" src="/images/m4.jpg" height="80">
        </div>
        <div class="navigationBar">
            <ul>
                <%if(!user){%>
                    <li class="li"><a class="homePage" href="/beamer/about">About</a></li>
                    <li class="li"><a class="homePage" href="/beamer/contact">Contact us</a></li>
                    <li class="li"><a class="homePage" href="/bmw">Connections</a></li>
                    <li class="li"><a class="homePage" href="/beamer/loginUser">Login</a></li>
                    <li class="li"><a class="homePage" href="/beamer/signup">Sign up</a></li>
                    <%} else{%>
                        <div class="theNav">

                                <li class="li"><a class="homePage" href="/beamer/about">About</a></li>
                                <li class="li"><a class="homePage" href="/beamer/contact">Contact us</a></li>
                                <li class="li"><a class="homePage" href="/bmw">Connections</a></li>
                                <li class="li"><a class="homePage" href="/bmw/new">Start a new Connection</a></li>
                                <li class="li"><a class="homePage" href="/beamer/profile">Profile</a></li>
                                <li class="li"><a class="homePage" href="/beamer/signout">Sign out</a></li>

                        </div>
                        <%}%>
            </ul>
        </div>
        <hr class="hr">
        <%if(users != null){%>
            <p class = "welcomeMessage">Welcome <%=users%></p>
        <%}%>
        </div>
    </div>
    <div class="top">
        <h1 class="slogan">BMW, Best in the Biz</h1>
        <img alt="nothing" class="bmwLogoBody" src="/images/bmwLogo.png" height="75">
        <h1 class="beamerFans">Beamer Fans</h1>
    </div>
    <%if(errorMessages.length> 0){
        errorMessages.forEach(message=>{%>
        <div class="errorMessages">
            <%=message%>
        </div>
        <% }) }%>
            <%if(successMessages.length> 0){
                successMessages.forEach(message=>{%>
                <div class="successMessages">
                    <%=message%>
                </div>
                <% }) }%>