<%- include('../partials/header.ejs')%>
<h1 class = "about">About</h1>
<p class= "about">Attend events that are exclusively for BMW fans!  Whether it's beamer car shows or drag races it's always a good time!</p>
<p class= "about"> Start a new Connection will allow you to create an event that other beamer fans can attend!</p>
<p class= "about">Lets make new Beamer friends!</p>
<div>
    <footer class = "footer6">
        &copy; Beamer Fans,<br> The Best in the Biz
    </footer>
    
</div>