<%- include('../partials/header.ejs')%>
<h1 class ="about">Contact Us</h1>
<p class= "about">Address: 16706 New Providence Lane</p>
<p class= "about"> Phone Number: 704-918-3326</p>
<p class= "about">email: beamerfans@gmail.com</p>
<div class ="theFooter1">
    <footer class = "footer6">
        &copy; Beamer Fans,<br> The Best in the Biz
    </footer>
    
</div>